[Unit]
Description=MarcoPolo core services management utility
After=marco.service
After=polo.service

[Service]

ExecStart=marcomanagerd &>/dev/null
ExecReload=marcomanagerreload &>/dev/null

Type=simple
User=root
Group=root
PIDFile=/var/run/marcomanagerd.pid

[Install]
WantedBy=multi-user.target
